@mixin center-flex {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

* {
    box-sizing: border-box;
}

body {

    @include center-flex;

    main {

        
        width: min(95%, 375px);


        /* index.html */
        .introduction {

            padding: 1rem;

            .hero-mobile {
                height: 240px;
            }

            .hero-tablet {
                display: none;
            }
            

            .hero-desktop {
                display: none;
            }

            h1 {
                font-size: 3.75rem;
                font-family: "Big Shoulders Display", sans-serif;
                line-height: 55px;
                color: #151515;
            }

            .intro-para {
                font-size: 1.125rem;
                font-family: "Outfit", sans-serif;
                font-weight: 200;
                line-height: 28px;
            }

            .go-to-location-page-btn {

                background-color: #151515;
                color: white;
                display: block;
                width: 260px;
                height: 72px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.25rem;
                font-family: "Big Shoulders Display", sans-serif;
                font-weight: 900;
                border: none;
                margin-bottom: 4rem;

                div {

                
                    background-color: #D5966C;
                    width: 56px;
                    height: 72px;
                    font-size: 10px;
                    @include center-flex;
                    position: relative;
                    left: 4px;
                    
                    
                }

                p {
                    position: relative;
                    left: 2rem;
                }

            }


        }

        .gallery {

            padding: 1rem;

            .grid1-mobile {

                width: 343px;
                height: 320px;
               
            }

            .grid2-mobile {
                width: 343px;
                height: 480px;
                margin-bottom: 1rem;
            }

            .grid3-mobile {
                width: 343px;
                height: 200px;
                margin-bottom: 1rem;
            }

            .grid1-tablet, .grid2-tablet, .grid3-tablet {

                display: none;

            }

            .day-at-gallery-box {

                h2 {
                    font-size: 3.125rem;
                    font-family: "Big Shoulders Display", sans-serif;
                    line-height: 45px;
                    color: #151515;
                }
    
                P {
                    font-size: 1.125rem;
                    font-weight: 200;
                    font-family: "Outfit", sans-serif;
                    line-height: 28px;
                }
            }

            .welcome-to-our-gallery-box {

                width: 343px;
                height: 293px;
                background-color: #151515;
                padding:  1rem 2rem;
                margin-bottom: 4rem;
               

                h3 {

                    font-size: 3.125rem;
                    font-family: "Big Shoulders Display", sans-serif;
                    line-height: 45px;
                    color: white;
                    margin-top: 1.5rem;
                }

                p {
                    color: white;
                }

            }
        }

        /* location.html */

        .back-to-home-btn {

            background-color: #151515;
            color: white;
            display: block;
            width: 208px;
            height: 72px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.25rem;
            font-family: "Big Shoulders Display", sans-serif;
            font-weight: 900;
            border: none;
            position: relative;
            top: 4.5rem;
            z-index: 100;
            

            p {
                position: relative;
                right: 1rem;
            }
            

            div {

                
                background-color: #D5966C;
                width: 56px;
                height: 72px;
                font-size: 10px;
                @include center-flex;
                position: relative;
                right: 7px;
                
                
                

                
            }
        }

        .back-btn:hover {
            cursor: pointer;
        }


        #map {
            width: 375px;
            height: 500px;
            background-color: gray;
            z-index: 0;
        }

        .location{

            background-color: #151515;
            width: 375px;
            height: 493px;
            padding: 1rem;

           

            h1 {

                font-family: "Big Shoulders Display", sans-serif;
                font-size: 3.125rem;
                line-height: 45px;
                color: white;
            }

            h2 {

                font-family: "Big Shoulders Display", sans-serif;
                font-size: 2rem;
                color: #D5966C;

            }

            p {
                font-size: 1.125rem;
                color: white;
                font-weight: 100;
                font-family: "Outfit", sans-serif;
                
            }


        }
    }

    /* index.html */
    .footer-index {
        width: min(95%, 375px);
        height: 336px;
        background-color: #151515;
        padding: 3rem 3rem;

        h3 {
            font-family: "Big Shoulders Display", sans-serif;
            color: white;

        }

        p {
            margin-top: 2rem;
            font-family: "Outfit", sans-serif;
            font-weight: 200;
            color: white;
        }

        .socials {

            margin-top: 4rem;

            svg {
                
                margin-left: 1rem;
                
            }
        }

    }

     /* location.html */
    .footer-location {

        width: min(95%, 375px);
        height: 336px;
        background-color: #D5966C;
        padding: 3rem 3rem;

        h3 {
            font-family: "Big Shoulders Display", sans-serif;

        }

        p {
            margin-top: 2rem;
            font-family: "Outfit", sans-serif;
            font-weight: 200;
            color: #151515;
        }

        .socials {

            margin-top: 4rem;
            
            svg {
                
                margin-left: 1rem;
                
            }
        }
    }

    @media screen and (min-width: 768px) {

        main {
    
            width: 768px;
            
            
            .introduction {
    
                .hero-mobile {
                    display: none;
                }
    
                .hero-tablet {

                    margin: -1rem 0 0 -1rem;
                    display: block;
                    width: 437px;
                    height: 700px;
                }

                article {

                    
                    position: relative;
                    bottom: 34rem;
                    left: 23rem;
                    width: 339px;
                    height: 410px;

                    h1 {

                        margin-top: 1px;
                        font-size: 4.375rem;
                        line-height: 65px;
                        padding-right: 50px;
                    }

                    .intro-para {
                        margin-top: -2rem;
                    }

                    .go-to-location-page-btn {
                        margin-top: 3rem;
                    }

                   
                }
    
    
            }

            .gallery {

                display: grid;
                grid-template-columns: auto auto ;
                grid-template-rows: auto auto; 
                padding: 0;
                width: 689px;
                height: 1131px;
                margin: -20rem auto 8rem auto;
                gap: 10px;
                

                .grid1-mobile, .grid2-mobile, .grid3-mobile {

                    display: none;
    
                }

                .grid1-tablet {
                    display: inline;
                    width: 398px;
                    height: 400px;
                    grid-column: 2;
                    grid-row: 1/2;
                    margin-left: -7.4rem;
                }

                .day-at-gallery-box{
                    width: 223px;
                    height: 299px;
                    grid-column: 1/2;
                    grid-row: 1/2;
                }

                .grid2-tablet{
                    display: inline;
                    width: 398px;
                    height: 720px;
                    grid-column: 1/2; /* Adjusted grid placement */
                    grid-row: 2/3;
    
                }

                .grid3-tablet {
                    display: inline;
                    width: 280px;
                    height: 313px;
                    grid-column: 2; /* Adjusted grid placement */
                    grid-row: 2/3; 
                }

                .welcome-to-our-gallery-box {
                    

                    width: 280px;
                    height: 396px;
                    grid-column: 2; /* Adjusted grid placement */
                    grid-row: 3/4;
                    margin-top: -25.5rem;
                }
            }

            #map {
                width: 768px;
                height: 600px;
            }

            .location {


                display: flex;
                flex-direction: row;
                width: 768px;
                height: 436px;
                align-items: center;
                justify-content: space-between;

                h1 {
                    font-size: 3.438rem;
                    position: relative;
                    bottom: 5rem;
                }

                div {
                    width: 398px;
                    height: 268px;
                    padding: 0 2rem;

                    p {
                        font-weight: 100;
                    }
                }


            }
        }

        .footer-index {

            width: 768px;
            height: 216px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;


            .light-logo {
                position: relative;
                bottom: 1rem;
            }

            p {
                width: 281px;
                margin: 0 4rem 0 4rem;
            }

            div {
                position: relative;
                bottom: 3.5rem;
            }
        }

        .footer-location {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 768px;
            height: 216px;

            .dark-logo {
                position: relative;
                bottom: 1rem;
            }

            p {
                width: 281px;
                margin: 0 4rem 0 4rem;
            }

            .socials {
                position: relative;
                bottom: 3.5rem;
            }
        }


        
    }

}



